/vim/plugged
/vim/.netrwhist
*.DS_Store
*.swp
/config/fish/fishd.*
/config/fish/completions/*.fish
/config/fish/conf.d/*.fish
/config/fish/functions/*
/config/fisherman/
/config/direnv/
/config/asciinema/
